

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 40px;
  padding: 30px;
  width: 420px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 25px;
}

input[type="file"] {
  display: block;
  margin-bottom: 15px;
}

button {
  background-color: #3498db;
  color: white;
  cursor: pointer;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}

button:disabled {
  background-color: #95a5a6;
}

.form label {
  display: block;
  margin-top: 15px;
}

.form input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 5px;
  resize: none;
}
.form textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 6px;
  margin-top: 5px;
  resize: none;
}
